body{
     font-family: "Noto Sans JP";
}

nav{
    height: 42px !important;
    line-height: 42px !important;
}
nav .brand-logo{
    font-size: 20px !important;
}

#main-images-panel{
    position: relative;
}

#button-download{
    position: absolute;
    bottom: 8;
    right: 8;
    opacity: 0.8;
}

.moto-images{
    width: 100%;
}
.moto-images #moto-image-gn125-front{
    width: 100%;
    z-index: 1;
}
.moto-images .moto-parts{
    width: 100%;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s;
}
.moto-images{
    position: relative;
}
.controll-panel-title{
    display: block;
    font-weight: 600;
}

#action-buttons{
    text-align: center;
}
#button-save-conditions{
    width: 80%;
}

@media screen and (min-width:1024px) {

nav{
    height: 56px !important;
    line-height: 56px !important;
}
nav .brand-logo{
    font-size: 1.9rem !important;
}

#controll-panel{
    position: fixed;
    bottom: 4;
    left: 0;
    z-index: 101;
    width: 192px;
}
.collapsible{
    margin-bottom: 2px !important;
    opacity: 0.8;
}
.collapsible-body{
    background-color: #fff;
}
 
#button-save-conditions{
    width: 100%;
}
#button-download{
    position: fixed;
    bottom: 8;
    right: 8;
    opacity: 1;
}

}